
	
	<h2>Usuario:	<%=	@user1.name %></h2>
	<div class="usuario">
		<p class="ficha">Nombre: <span class="negrita"><%= @user1.real_name %></span></p>
		<p class="ficha"><%= link_to "Última influencia:", influence_path(@influence1) %> 
			<span class="verde negrita"><%= format("%.2f", (@influence1.velocity*100)) %></span></p>
		<p class="ficha">Followers: <span class="negrita"><%= @user1.subscribers %></span></p>
		<p class="ficha">Following: <span class="negrita"><%= @user1.subscriptions %></span></p>
		<p class="ficha">Avatar: <img src="<%= @user1.avatar %>" alt="Avatar"/></p>
		<p class="ficha mencion">Última mención: <span class="negrita"><%= @user1.last_mention_at %></span></p>
		<p class="ficha desc">Descripción: <span class="negrita"><%= @user1.description %></span></p>
	</div>
	<h2>Usuario:	<%=	@user2.name %></h2>
	<div class="usuario">
		<p class="ficha">Nombre: <span class="negrita"><%= @user2.real_name %></span></p>
		<p class="ficha"><%= link_to "Última influencia:", influence_path(@influence2) %> 
			<span class="verde negrita"><%= format("%.2f", (@influence2.velocity*100)) %></span></p>
		<p class="ficha">Followers: <span class="negrita"><%= @user2.subscribers %></span></p>
		<p class="ficha">Following: <span class="negrita"><%= @user2.subscriptions %></span></p>
		<p class="ficha">Avatar: <img src="<%= @user2.avatar %>" alt="Avatar"/></p>
		<p class="ficha mencion">Última mención: <span class="negrita"><%= @user2.last_mention_at %></span></p>
		<p class="ficha desc">Descripción: <span class="negrita"><%= @user2.description %></span></p>
	</div>
	<% puntos ="" %>
	<% pos = 1 %>
	<% tam = @influences1.size %>
	<% @influences1.each do |influence| %>
		<% puntos += format("%.2f", (influence.velocity*100)).to_s %>
		<% if pos < tam %>
			<% puntos += "," %>
			<% pos += 1 %>
		<% end %>
	<% end %>
	<% puntos2 ="" %>
	<% pos = 1 %>
	<% tam = @influences2.size %>
	<% @influences2.each do |influence| %>
		<% puntos2 += format("%.2f", (influence.velocity*100)).to_s %>
		<% if pos < tam %>
			<% puntos2 += "," %>
			<% pos += 1 %>
		<% end %>
	<% end %>
	<% dir = "http://chart.apis.google.com/chart?cht=lc&chco=ff0000,00ff00&chs=570x300&chd=t:"+puntos + "|-1" + puntos2 + "|-1&chdl="+ @user.name + "&chma=20,20,20,30|80,20&chxt=x,y&chxl=0:"+ @dates + "&chf=c,lg,0,FFE7C6,0,76A4FB,1|bg,s,EFEFEF&chtt=Evolución de la influencia" %>
	<img class="center noFloat" src="<%= dir %>" alt="Evolución de la influencia datos: <%= puntos %>" />