
	<%= render :partial => "user_detail", :locals => {:user => @user, :influence =>@influence} %>


	<% puntos = "" %>
	<% pos = 1 %>
	<% tam = @influences.size %>
	<% @influences.each do |influence| %>
		
		<% puntos += format("%.2f", (influence.velocity*100)).to_s %>
		<% if pos < tam %>
			<% puntos += ',' %>
			<% pos += 1 %>
		<% end %>
	<% end %>
	<% if tam > 1 %>
		<% dir = "http://chart.apis.google.com/chart?cht=lc&chco=ff0000&chs=570x300&chd=t:"+ puntos + "&chds=" + @axis_y_values[0] +","+ @axis_y_values[1] + "&chdl="+ @user.name + "&chma=20,20,20,30|80,20&chxt=x,y&chxl=0:"+ @dates + "|1:" + @axis_y_labels + "&chf=c,lg,0,FFE7C6,0,76A4FB,1|bg,s,EFEFEF&chtt=Evolución de la influencia" %>
		<img class="noFloat columnas2" src="<%= dir %>" alt="Evolución de la influencia datos: <%= puntos %>" />
	<% else %>
		<p class="noFloat informacion">No está disponible la evolución de su influencia, ya que tan śolo tiene un valor. Inlfuencia = <%= puntos %> </p>
	<% end %>
	<div class="columnas2 momentum">
		<p>¿Te apetece comparar tus datos con otro usuario?<br/>Introduce su nombre</p>
		<%= form_tag users_path, :method => 'get' do %>
			<fieldset>
				<%= label_tag :compare_to, "usuario"%>
				<%= text_field_tag :compare_to, params[:compare_to] %>
				<%= submit_tag "Buscar", :name => nil %>
			</fieldset>
		<% end %>
	</div>
	
