
	
	<h2>Usuario:	<%=	@user.name %></h2>
	<div class="usuario">
		<p class="ficha">Nombre: <%= @user.real_name %></p>
		<p class="ficha"><%= link_to "Última influencia:", influence_path(@influence) %> 
			<span class="verde negrita"><%= format("%.2f", (@influence.velocity*100)) %> </span></p>
		<p class="ficha">Followers: <%= @user.subscribers %> </p>
		<p class="ficha">Following: <%= @user.subscriptions %> </p>
		<p class="ficha"><img src="<%= @user.avatar %>" alt="Avatar"/></p>
		<p class="ficha mencion">Última mención: <%= @user.last_mention_at %> </p>
		<p class="ficha desc">Descripción: <%= @user.description %> </p>
	</div>
	<ul class="evolucion">
		<li>Evolución influencia
		<ol>
			<% @influences.each do |influence| %>
				<li>
					<%= link_to format("%.2f", (influence.velocity*100)), influence_path(influence) %>
				</li>
			<% end %>
		</ol>
		</li>
	</ul>