<h2>Influencia <span class="verde negrita"><%= format("%.2f", (@influence.velocity*100)) %></span></h2>

<p class="influencia">
	
	Aceleración: <%= @influence.acceleration %> <br/>
	Fecha: <%= @influence.date %> <br/>
	Usuario: <%= (link_to @influence.user.name, user_path(@influence.user)) unless @influence.user.nil? %> <br/>
	Seguidores: <%= @influence.audience %> <br/>
</p>