<!--<%= render :partial => "form", :locals => {:user => @user} %>-->



<%= form_for :action => 'index' do %>

	<p><label for="form_name">@usuario: </label>
		<%= text_field 'name', 'size' =>20 %></p>

	<p><%= submit_tag 'Buscar' %> </p>
<%= end %>

<div>
	<% form_for  @user do%>
		<%= f.label Buscar @usuario %>
		<%= f.text_field :name %>
		<%= f.submit "Buscar" %>
	<% end %>
</div>