<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>Momentun</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id="cuerpo">
		<div id="cabecera"> 
			<div class="momentum">
				<h1><a href="/">Momentum</a></h1>
				<% form_tag users_path, :method => 'get' do %>
					<%= label_tag ":search", "Nombre usuario "%>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "submit", :name => nil %>
				<% end %>
				<p>Consulta tu influencia, ¿cuán influyente eres?</p>
			</div>

		</div>

		<%= yield %>
		<div id="pie">
			<p>
				<a class="escuela" href="http://www.informatica.uniovi.es">Escuela de Ingeniería Informática</a>
				<img src="/assets/logo_euitio.png" alt="Logo oficial de la Escuela de Ingeniería Informática" />
				<a class="uniovi" href="http://www.uniovi.es">Universidad de Oviedo</a>
				<img src="/assets/logo_uniovi.png" alt="Logo oficial de la Universidad de Oviedo" />
			</p>
		</div>
	</div>
</body>
</html>
